body {
    color: var(--fifth-color);
    font-family: var(--font-text);
    background: var(--third-color)
}


h1,
h2,
h3 {
    font-family: var(--font-title);
    color: var(--primary-color);
}

h1 {
    text-shadow: 0 0 5px var(--primary-color)
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
}

header img {
    width: 64px;
    padding-right: calc(25vw - 80px);
    padding-left: 16px;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    height: 32px;
    width: 80%;
    margin: auto;
    padding-top: 8px;
    border-top: solid var(--secondary-color) 2px;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all .3s ease-in-out;
}

nav a:hover {

    text-decoration: underline;
    transform: scale(1.2);
    color: var(--primary-color);
}

footer {
    height: 32px;
    text-align: center;
}